#title {
	width: 316px;;
	margin-left:auto;
	margin-right:auto;
}

#forms {
	width: 400px;
	margin-left:auto;
	margin-right:auto;
}

#displayForm {
	width: 400px;
	margin-left:auto;
	margin-right:auto;
}